/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto&display=swap');

/*overriding defaults */


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*General Styles*/

body {
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*Generic project Styles*/
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* header */
header {
    background-color:lightcoral;
    /* Replace with your preferred color */
  
}
h1{
    font-family: 'Oswald',sans-serif;
}

/*  main content  */
main {
    background-color: lightblue;
    flex: 1 0 auto;
  
}

/* footer */
footer {
    background-color: orange;
   
}